<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

nirender ko po ako gamit ng render @game